<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/cart.css">
    <script src="https://kit.fontawesome.com/878d22e054.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="navigate">
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="#">Brands</a>
                    <div class="sub-menu">
                        <ul class="sub-menu">
                            <li><a href="/cart/iphone">iphone</a></li>
                            <li><a href="">samsung</a></li>
                            <li><a href="">realme</a></li>
                            <li><a href="/cart/oppo">oppo</a></li>
                            <li><a href="/cart/vivo">vivo</a></li>
                            <li><a href="">oneplus</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Stores</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="/users/sign-up" target="_blank"><button type="submit">Sign-Up / Sign-In</button></a></li>
            </ul>
            <% if(locals.user){%>
                <a href="/users/profile"><button class="cart2"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;<%=user.name%></button></a>
            <%} else{%>
                <a href="/users/sign-in"><button class="cart2"><i class="fa-solid fa-user"></i></button></a>
            <%}%>
            <img src="/pic/menu.png" alt="" class="menu-btn" width="40" height="50">
        </nav>
    </div>
    
    <div class="all">
        <div class="container">
            <h1>Your Cart Items:</h1>
                <% if(cart==null || cart.items.length==0){%>
                    <h1>No items in your Cart</h1>
                <%} else{%>
                    <% for(let i = 0; i < cart.items.length; i++){
                        let product = cart.items[i];  
                    %>
                    <div class="items">
                        <img src="<%=product.productId.imagePath%>" alt="" width="200" height="200">
                        <div class="details">
                            <h3><%=product.productId.desc%></h3>
                            <small>In Stock</small>
                            <h5>Eligible for free shipping</h5>
                            <h6><b>size: <%=product.productId.ram%>GB | <%=product.productId.storage%>GB</b></h6>
                            <h2>₹&nbsp;<%=product.productId.price%></h2>
                            <h3 class="qty">QTY: <a href="/cart/decrease/<%=product.productId._id%>"><i class="fa-solid fa-circle-minus"></i></a> <%=product.qty%> <a href="/cart/increase/<%=product.productId._id%>"><i class="fa-solid fa-circle-plus"></i></a></h3>
                            <form action="/cart/delete-cart/<%=product.productId._id%>" method="POST">
                                <button type="submit" class="del"><i class="fa-solid fa-trash-can fa-lg"></i></button>
                            </form>
                        </div>
                    </div>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <% if(cart!=null){%>
        <div class="total">
            <h1>SubTotal: ₹<%=cart.totalPrice%></h1>
            <div><input type="checkbox" name="" id=""> This order contains a Gift</div>
            <a href="/cart/pay"><button>Proceed To Checkout</button></a>
        </div>
        <%}%>
    </div>
    
</body>

