<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
    <div class="navigate">
        <%-include('_nav');%>
    </div>
    <div class="container">
        <form action="/users/update/<%=user._id%>" enctype="multipart/form-data" method="post">
            <input type="file" name="avatar" placeholder="Profile Pic">
            <input type="text" name="name" placeholder="Enter your name">
            <input type="date" name="dateOfBirth" value="<%= user.dateOfBirth.toISOString().substr(0, 10) %>" placeholder="Enter your date of birth">
            <input type="tel" name="phoneNumber" value="<%= user.phoneNumber %>" placeholder="Enter your phone number">
            <input type="text" name="fullName" value="<%= user.fullName %>" placeholder="Enter your full name">
            <select name="gender">
                <option value="male" <%= user.gender === 'male' ? 'selected' : '' %>>Male</option>
                <option value="female" <%= user.gender === 'female' ? 'selected' : '' %>>Female</option>
                <option value="other" <%= user.gender === 'other' ? 'selected' : '' %>>Other</option>
            </select>
            <textarea name="address" placeholder="Enter your address"><%= user.address %></textarea>
            <input type="submit" value="Update">
        </form>
        <button class="btn"><a href="/">Back to Home</a></button>
    </div>
</body>